@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
.experience-section {
    
    padding: 60px 64px;
    background: #FFF7EC;
   
}
.experience-button {
    align-self: baseline;
}
.experience-section-container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.content-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.content-title-mini {
    color: #FE8C00;
    margin-top:15px;
    font-size: 18px;
    line-height: 150%;
}
.experience-main-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.experience-label1 {
    color: black;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    align-self: stretch;
}
.experience-label2 {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.experience-section-img {
    border-radius: 20px;
    width:340px;
    
}
.content-list {
    display: flex;
   
    gap: 24px;
}
.list-row {
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.list-row-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.item-text-1 {
    color: #FE8C00;
    align-self: stretch;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}
.item-text-2 {
    color: black;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    align-self: stretch;
}
@media screen and (max-width: 576px) {

    .experience-section-container {
        gap: 20px;
        flex-direction: column-reverse;
    }
    .experience-section {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .list-row {
        flex-direction: column;
        text-align: center;
    }
  
    .content-list {
        justify-content: center;
    }
    .experience-section-img{
        width:100%;
    }
    .experience-button{
        align-self:center;
    }
    .experience-label1 {
        font-size:20px;
    }
    .div-wrapper{
        align-items:center;
    }
}
@media (min-width: 577px) and (max-width: 768px) {


    .experience-section-container {
   
        gap:20px;
       flex-direction: column-reverse;
    }
    
    .experience-section-img {
        width: 100%;
    }
    .experience-label1 {
        font-size: 30px;
    }
   
}